// fusv-enable

// scss-docs-start theme-color-variables
$primary: #533E85 !default;
$secondary: #C1F8CF !default;
$gray: #adb5bd !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: #F8F8FF !default;
$dark: #072227 !default;
