.header {
  background-image: url("../../public/images/bg-home.png");
  min-height: 100vh;
  background-size: cover;
}

.benefit:hover {
  background: #fff;
  cursor: pointer;
}

.bgWhiteGreen {
  background-color: rgba(28, 126, 54, 0.06);
}

.tetiDescription {
  width: 100%;
}

.transfer-desc {
  width: 70%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 90vh;
  }

  .tetiDescription {
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .header {
    min-height: 90vh;
  }

  .benefit {
    background: none;
    cursor: pointer;
  }

  .tetiDescription {
    width: 55%;
  }

  .transfer-desc {
    width: 40%;
  }
}