html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255) !important;
  color: #3A3D42 !important;
  font-family: 'Nunito Sans', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pincode-input-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.pincode-input-text {
  border: 2px solid !important;
  border-radius: 10px;
}

.side-side {
  border: 4px solid transparent;
}

.active-side {
  border-left: 4px solid #4FBDBA;
}
