.headText {
  font-weight: 700;
  font-size: 60px !important;
}

.left {
  margin: 120px 0;
}

.bgwave {
  right: 0;
  max-width: 50%;
}

.icon {
  border-radius: 90px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner {
  max-width: 120px;
}

@media all and (max-width: 992px) {
  .right {
    display: none;
  }

  .headText {
    font-size: 40px !important;
  }

  .icon {
    font-size: 15px;
  }
}
